<div class="flex full-screen justify-center">
    <form [formGroup]="registerForm" class="p-4 rounded-lg border m-auto w-1/3"
    (ngSubmit)="onSubmit()">
        <h1 class="text-center text-xl">Register</h1>
        <div class="my-5 w-full">
            <label for="email"> Email</label>
            <input type="email" id="email" class="p-2 rounded w-full border" placeholder="Email Address"
               formControlName="email" 
              >
              <!-- [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" -->
               <!-- <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']" >Email is required</div>
              </div> -->
               
        </div>

        <!-- <div [hidden]="email.valid" class="p-2 bg-red-300 text-red-800 rounded">
        Email field must be valid
    </div> I -->



        <div class="my-5 w-full">
            <label for="password"> Password</label>
            <input type="password" id="password" class="p-2 rounded w-full border" placeholder="Password"
            formControlName="password">
            <!-- <div *ngIf="submitted && registerForm.get('password')?.errors" class="alert alert-danger">
                <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required</div>
            </div> -->
        </div>

        <div class="my-5 w-full">
            <label for="password">Confirm Password</label>
            <input type="password" id="password" class="p-2 rounded w-full border" placeholder="Confirm Password"
            formControlName="confirm_password">
            <!-- <div *ngIf="submitted && registerForm.get('confirm_password')?.errors" class="alert alert-danger">
                <div *ngIf="registerForm.get('confirm_password')?.errors?.['required']">Confirm Password is required</div>
    
                <div *ngIf="registerForm.get('confirm_password')?.errors?.['confirmPasswordValidator']">Passsword and
                    Confirm Password didn't match. </div>
            </div> -->
        </div>


        <div class="my-5 w-full">
              <button type="submit" class="p-2 w-full bg-purple-700 text-white hover:bg-purple-500">
                  <ng-container *ngIf="isLoading()">
                        Loading....
                  </ng-container>
                     
                  <ng-container *ngIf="!isLoading()">
                     Register
                   </ng-container>

              </button>
        </div>

    </form>
</div>